# Composer
vendor/

# PhpDocumentor
phpdoc/

# Code coverage report
report/

# Previewing the README.md
README.html
preview

# OSX
.DS_Store
.AppleDouble

# PhpStorm
workspace.xml

# Vagrant
.vagrant/

# Vagrant site's document root.
/htdocs/
