# Composer
vendor/

# PhpDocumentor
phpdoc/

# Code coverage report
report/

# Sphinx Documentation
docs/build

# Previewing the README.md
README.html
preview

# IDE
.idea/

# PhpStorm
workspace.xml

# Vagrant
.bundle/
.vagrant/

# Vagrant sandbox site files.
/htdocs/
/autoload/
