# Composer
vendor/

# PhpDocumentor
phpdoc/

# Code coverage report
report/

# Previewing the README.md
README.html
preview

# OSX
.DS_Store
.AppleDouble

# IDE
.idea/

# PhpStorm
workspace.xml

# Vagrant
.vagrant/

# Vagrant sandbox site files.
/htdocs/
/autoload/
